{% extends "admin/index.html" %}
{% load dashboard %}

{% comment %} {% extends "admin/base_site.html" %} {% endcomment %}

{% block sidebar %}

{% endblock sidebar %}
{% comment %} {% block nav-sidebar %}
{% for app in app_list %}
{{ app.name }}
{% endfor %}


{% endblock %} {% endcomment %}


  {% comment %} {% block content %}
          {% for app in app_list %}
         
          {% if  app.name %}
          {{app}}
          {% endif %}
{% endfor %}
          {% endblock %}
       {% endcomment %}

